<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Aplikasi Penggadaian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section layout:fragment="content">
            <div class="container-fluid">
                <div class="row">
                    <h1>Welcome ...</h1>
                </div>
            </div>
        </section>
    </body>
</html>
